:root{
    --colorHeader:rgb(200,231,255);
    --colorAside:rgb(208,209,255);
    --colorBackground: rgb(224, 204, 250);
    --colorAsideButton: rgb(160, 250, 253);
    --colorAsideButtonHover: rgb(245, 160, 224);
    --colorFont: rgb(32,8,73);
    --FontPrimary: 'Yusei Magic', sans-serif;
    --FontSecundary: 'Fredoka One', cursive;
    --borderRadius: 5px;
}
 
body.dark-mode{
    --colorHeader: rgb(44, 16, 94);
    --colorAside: rgb(29, 5, 70);
    --colorBackground:rgb(34, 13, 71); 
    --colorAsideButton: rgb(137,83,231);
    --colorAsideButtonHover: rgb(163, 69, 140);
    --colorFont: rgb(231, 224, 243);
    --FontPrimary: 'Yusei Magic', sans-serif;
    --FontSecundary: 'Fredoka One', cursive;
    --borderRadius: 8px;
}
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--colorFont);
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--FontPrimary);
}

button{
    cursor: pointer;
}

.display-none{
    display: none;
}