
/* 
*************** Header ***************
 */

 .header-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorHeader);
    padding: 2px ;
}

/* .title{
    text-align: center;
    font-family: var(--FontPrimary);
    font-size: 2.5rem;
    color: var(--colorFont);
    padding: 1% 0;
    margin: 0 1.3%;
    letter-spacing: -0.2px;
    -webkit-text-stroke: transparent;
} */

.title{
    display: inline;
    position: relative;
    font: 2.5rem var(--FontPrimary);
    color: rgba(0, 0, 255, 0.938); 
    padding: 1% 0;
    margin: 0 1.3%;
    letter-spacing: -0.1px;
    text-align: center;
  }
  
  .title:after {
    content: "Generador de Memes";
    /* text-align: center; */
    position: absolute; left: -10.1px; top: 11px;
    color: rgba(255,0,0,0.5);   
    padding: 1% 0;
    margin: 0 1.3%;
  }

.header-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0 .9rem;
    margin-bottom: .2rem;
}

.button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: var(--FontPrimary);
    border-radius: var(--borderRadius);
    padding: 0.5rem;
    margin: 2.5px;
}

.header-buttons .button:first-child{
    margin-left: 0;
}

.header-buttons .button:last-child{
    margin-right: 0;
}

.button:hover,
.button:focus{
    background-color: var(--colorAsideButtonHover);
}

.button-icon-text{
    margin-right: 0.2rem;
    font-size: 1.2rem;
}


/* 
*************** Seccion MEME ***************
 */


.main-container{
    display: flex;
    flex-grow: 1;
}

.container-section-meme{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBackground);
}

.container-meme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 37.75rem;
    height: 38rem;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.image-text{
    width: 100%;
    padding: 35px 40px;
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: var(--FontSecundary);
    color: rgb(0, 0, 0);
}

#top-text{
    top: 0;
}

#bottom-text{
    bottom: 0;
}

.image-meme{
    width: 100%;
    flex-grow: 1;
    background-size: cover;
}

.download-button{
    min-width: 190px;
    min-height: 40px;
    font-family: var(--FontPrimary);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-weight: 700;
    color: rgb(31, 28, 37);
    background: rgb(79, 209, 197);
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 8px 8px 20px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 15px;
    padding: 10px;
}


.download-button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(190px + 8px);
    min-height: calc(40px + 8px);
    border: 6px solid rgb(0, 255, 203);
    box-shadow: 0 0 20px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
    
.download-button:hover, .download-button:focus {
    color: rgb(31, 28, 37);
    transform: translateY(-2px);
}
    
.download-button:hover::before, .download-button:focus::before {
    opacity: 1;
}

.download-button:hover::after, .download-button:focus::after {
    animation: none;
    display: none;
}

.green-button-icon{
    color: rgb(31, 28, 37);
}

/* MEDIA QUERIES */

@media (max-width: 1300px){
    .title{
        font-size: 1.8rem;
    }
}

@media (max-width:700px){
    .button{
        font-size: .8rem;
    }
}