/* 
****************************** HEADER ******************************
*/

.header-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: var(--colorHeader);
    padding: 0.125rem ;
}


.title {
	color: rgb(0, 0, 0);
	font: normal 3rem var(--FontPrimary);
	left: 0;
	letter-spacing: 0.3125rem;
	padding: 1% 0;
	margin: 0 1.3%;
	text-align: center;
	animation: move linear 4000ms infinite; 
}

/* DETALLES ANIMACION TITULO  */
@keyframes move {
	0% {
		text-shadow:
			4px -4px 0 rgba(255, 0, 255, 1), 
			3px -3px 0 rgba(255, 0, 255, 1), 
			2px -2px 0 rgba(255, 0, 255, 1), 
			1px -1px 0 rgba(255, 0, 255, 1),
			-4px 4px 0 rgba(23, 240, 240,0.8), 
			-3px 3px 0 rgba(23, 240, 240,0.8), 
			-2px 2px 0 rgba(23, 240, 240,0.8), 
			-1px 1px 0 rgba(23, 240, 240,0.8)
		;
	}
	25% {    
		text-shadow:      	
			-4px -4px 0 hsla(180, 100%, 50%, 1), 
			-3px -3px 0 hsla(180, 100%, 50%, 1), 
			-2px -2px 0 hsla(180, 100%, 50%, 1), 
			-1px -1px 0 hsla(180, 100%, 50%, 1),
			4px 4px 0 rgba(255, 0, 255, 1), 
			3px 3px 0 rgba(255, 0, 255, 1), 
			2px 2px 0 rgba(255, 0, 255, 1), 
			1px 1px 0 rgba(255, 0, 255, 1)      
        ;
    }
    50% {
        text-shadow:
            -4px 4px 0 rgba(255, 0, 255, 1),
            -3px 3px 0 rgba(255, 0, 255, 1),
            -2px 2px 0 rgba(255, 0, 255, 1),
            -1px 1px 0 rgba(255, 0, 255, 1),
            4px -4px 0 hsla(180, 100%, 50%, 1), 
            3px -3px 0 hsla(180, 100%, 50%, 1), 
            2px -2px 0 hsla(180, 100%, 50%, 1), 
            1px -1px 0 hsla(180, 100%, 50%, 1)
        ;
    }
    75% {
        text-shadow:
            4px 4px 0 hsla(180, 100%, 50%, 1), 
            3px 3px 0 hsla(180, 100%, 50%, 1), 
            2px 2px 0 hsla(180, 100%, 50%, 1), 
            1px 1px 0 hsla(180, 100%, 50%, 1),
            -4px -4px 0 rgba(255, 0, 255, 1), 
            -3px -3px 0 rgba(255, 0, 255, 1), 
            -2px -2px 0 rgba(255, 0, 255, 1), 
            -1px -1px 0 rgba(255, 0, 255, 1)      
        ;
    }
    100% {
        text-shadow:
            4px -4px 0 rgba(255, 0, 255, 1), 
            3px -3px 0 rgba(255, 0, 255, 1), 
            2px -2px 0 rgba(255, 0, 255, 1), 
            1px -1px 0 rgba(255, 0, 255, 1),
            -4px 4px 0 hsla(180, 100%, 50%, 1), 
            -3px 3px 0 hsla(180, 100%, 50%, 1), 
            -2px 2px 0 hsla(180, 100%, 50%, 1), 
            -1px 1px 0 hsla(180, 100%, 50%, 1)
        ;
    }  
}


.header-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0 .9rem;
    margin-bottom: .2rem;
}

.button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: var(--FontPrimary);
    border-radius: var(--borderRadius);
    padding: 0.5rem;
    margin: 2.5px;
    position: relative;
}

.button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff00ff, #857aff, #00ffff);
    background-color: var(--colorAsideButtonHover);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.button:hover::before {
    transform: scaleX(1);
}

.button::before {
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
   
.button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}


.button:focus, 
.button:hover{
    background-color: var(--colorAsideButtonHover);
}

.button-icon-text{
    margin-right: 0.2rem;
    font-size: 1.2rem;
   
}

.icon-header{
    font-weight: bold;
    color:rgb(255, 0, 255);
}


/* MEDIA QUERIES */

@media (max-width: 1000px){
    .title{
        font-size: 1.8rem;
    }
}

@media (max-width:700px){
    .title{
        font-size: 1.5rem;
    }
    .button{
        font-size: .8rem;
    }
}