/* 
****************************** Seccion MEME ******************************
*/


.main-container{
    display: flex;
    flex-grow: 1;
}

.container-section-meme{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBackground);
    position: relative;
}

.container-meme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 37.5rem;
    height: 37.5rem;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.image-text{
    width: 100%;
    padding: 2.18rem 2.5rem;
    font-size: 2.18rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
}

.image-meme{
    width: 100%;
    flex-grow: 1;
    background-size: cover;
}

.download-button{
    min-width: 11.875rem;
    min-height: 2.5rem;
    font-family: var(--FontPrimary);
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    color: rgb(31, 28, 37);
    background: rgb(79, 209, 197);
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 62.5rem;
    box-shadow: 8px 8px 20px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 0.9375rem;
    padding: 0.625rem;
}

.download-button::before {
    content: '';
    border-radius: 62.5rem;
    min-width: calc(11.875rem + 0.5rem);
    min-height: calc(2.5rem + 0.5rem);
    border: 6px solid rgb(0, 255, 203);
    box-shadow: 0 0 20px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.download-button:hover, .download-button:focus {
    color: rgb(31, 28, 37);
    transform: translateY(-0.125rem);
}

.download-button:hover::before, .download-button:focus::before {
    opacity: 1;
}

.download-button:hover::after, .download-button:focus::after {
    animation: none;
    display: none;
}

.green-button-icon{
    color: rgb(31, 28, 37);
}

